@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "Raleway", sans-serif;
}
/* #homepage, #contact{
    /* background-image:linear-gradient(rgba(34, 33, 39, 0.76), rgba(44, 41, 46, 0.767)), url(../src/assets/dark-background.jpg); */
    
/* } */ */

.nav-item .active{
    color: hsl(197, 71%, 71%);
    font-size: 1.2em;
   
}
.nav-item{
    transition: 0.3s;
    font-size: 0.7em;
    
    
}
